body {
    margin: 0;
    padding-top: 4em;
}

#container {
    width: 800px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*####### HEADER #######*/

#promo-image {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 800px;
    min-height: 600px;
    object-fit: cover;
}

#promo-image-taper {
    z-index: -1;
    position: absolute;
    top: 300px;
    height: 300px;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.logo h1 {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    line-height: 80%;
}

.logo a {
    text-decoration: none;
    color: black;
    background: -webkit-linear-gradient(90deg, rgba(81, 226, 110, 1) 0%, rgba(53, 209, 249, 1) 25%, rgba(249, 53, 132, 1) 50%, rgba(249, 159, 53, 1) 75%, rgba(198, 40, 214, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;

}

#main-nav ul {
    margin: 0.5em 0em;
    padding: 0;
    display: flex;
    justify-content: space-between
}

#main-nav li {
    display: inline-block;
    min-width: 90px;
    padding: 0.3em 1em;
    background-color: black;
    border: 1px solid;
    text-align: center;
}

#main-nav li:hover {
    background-color: rgb(255, 166, 0);
}

#main-nav a {
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}

#main-nav #home {
    background-color: rgb(255, 166, 0);
}

/*####### MAIN #######*/

main {
    display: flex;
    gap: 0em 0.5em;
}

.blog-posts {
    width: 100%;
}
.blog-section {
    border: 1px solid;
    margin-bottom: 0.5em;
}
.blog-section p, .blog-posts h3, .blog-posts h5 {
    margin: 0;
}
.blog-heading {
    padding: 0.5em;
    background-color: black;
    color: white;
}
.blog-heading p {
    font-size: 0.8em;
    padding-top: 0.3em;
}
.blog-data {
    background-color: white;
    padding: 0.5em;
}
.blog-media {
    width: 100%
}
.blog-data iframe {
    width: 100%;
    padding: 0.5em 0em;
}
.blog-image {
    display: block;
    width: 95%;
    margin: auto;
    padding: 0.5em 0em;
}
.blog-afterthought {
    padding-top: 0.5em;
}
.blog-afterthought q {
    display: block;
    padding: 0em 1.5em;
}
.blog-afterthought a {
    text-decoration: none;
    color: rgb(255, 166, 0);
    font-weight: bold;
}
.blog-afterthought i {
    color: rgb(255, 166, 0);
    font-size: 0.6em;
}
.blog-footer {
    display: flex;
    align-items: center;
    background-color: black;
}
.blog-footer i {
    color: red;
}
.blog-comments {
    padding: 0.3em;
    color: white;
    font-weight: normal;
}

.search-field {
    display: flex;
}