body {
    margin: 0;
    padding-top: 4em;
}

#container {
    width: 800px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*####### HEADER #######*/

#promo-image {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 800px;
    min-height: 600px;
    object-fit: cover;
}

#promo-image-taper {
    z-index: -1;
    position: absolute;
    top: 300px;
    height: 300px;
    width: 100vw;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.header-logo h1 {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    line-height: 80%;
}

.header-logo a {
    text-decoration: none;
    color: black;
    background: -webkit-linear-gradient(90deg, rgba(81, 226, 110, 1) 0%, rgba(53, 209, 249, 1) 25%, rgba(249, 53, 132, 1) 50%, rgba(249, 159, 53, 1) 75%, rgba(198, 40, 214, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

#main-nav ul {
    margin: 0.5em 0em;
    padding: 0;
    display: flex;
    justify-content: space-between
}

#main-nav li {
    display: inline-block;
    min-width: 90px;
    padding: 0.3em 1em;
    background-color: black;
    border: 1px solid;
    text-align: center;
}

#main-nav li:hover {
    background-color: #E07400;;
}

#main-nav a {
    text-decoration: none;
    color: white;
    font-size: 0.7em;
    font-weight: bold;
}

#main-nav #home {
    background-color: #E07400;;
}


/*####### MAIN #######*/

main {
    display: flex;
    gap: 0em 0.5em;
}

.blog-posts {
    width: 810px;
}

.blog-section {
    border: 1px solid;
    margin-bottom: 0.5em;
}

.blog-section p, .blog-posts h3, .blog-posts h5 {
    margin: 0;
}

.blog-heading {
    padding: 0.5em;
    background-color: black;
    color: white;
}

.blog-heading p {
    font-size: 0.8em;
    padding-top: 0.3em;
}

.blog-data {
    background-color: white;
    padding: 0.5em;
}

.blog-media {
    width: 100%
}

.blog-data iframe {
    width: 100%;
    padding: 0.5em 0em;
}

.blog-image {
    display: block;
    width: 95%;
    margin: auto;
    padding: 0.5em 0em;
}

.blog-image:hover {
    cursor: pointer;
}

.blog-afterthought {
    padding-top: 0.5em;
}

.blog-afterthought q {
    display: block;
    padding: 0em 1.5em;
}

.blog-afterthought a {
    text-decoration: none;
    color: #E07400;;
    font-weight: bold;
}

.blog-afterthought i {
    color: #E07400;;
    font-size: 0.6em;
}

.blog-afterthought i:hover {
    cursor: pointer;
}

.blog-footer {
    display: flex;
    align-items: center;
    background-color: black;
}

.blog-footer i {
    color: red;
}

.blog-footer i:hover {
    cursor: pointer;
}

.blog-comments {
    padding: 0.3em;
    color: white;
    font-weight: normal;
}

.older-posts-btn {
    margin: 0.8em 0em;
    text-align: right;
}

.older-posts-btn a {
    padding: 0.8em 1.5em;
    border: 1px solid;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 0.7em;
    font-weight: bold;
}

.older-posts-btn a:hover {
    background-color: #E07400;
}

.search-field {
    display: flex;
}

.search-field input {
    display: block;
    width: 100%
}

.search-field i {
    padding: 0.2em;
    color: white;
    background-color: black;
}

.aside-section {
    margin-top: 0.5em;
    border: 1px solid;
}

.aside-title {
    color: white;
    background-color: black;
}

.aside-title h4 {
    margin: 0;
    padding: 0.2em;
}

.aside-content {
    padding: 0.3em 0.4em;
    background-color: white;
}

.featured-image-box img {
    object-fit: cover;
    width: 100%;
    height: 92px;
}

.featured-image-box img:hover {
    cursor: pointer;
}

#feature-1 {
    object-position: 0px 0px;
}
#feature-2 {
    object-position: 0px -98px;
}
#feature-3 {
    object-position: 0px -196px;
}
#feature-4 {
    object-position: 0px -299px;
}

#aside-supportsat20 p {
    margin: 0.2em 0em;
    font-size: 1em;
    font-weight: bold;
    color: #E07400;
    text-decoration: underline;
}

#aside-supportsat20 p:hover {
    cursor: pointer;
}

.week-headline {
    display: flex;
    max-width: 247px;
}

.week-headlines-image-box img {
    object-fit: cover;
    height: 51px;
    width: 60px;
    
}

.week-headlines-image-box img:hover {
    cursor: pointer;
}

#week-headline-img-1 {
    object-position: 0px -6px;
}
#week-headline-img-2 {
    object-position: 0px -65px;
}
#week-headline-img-3 {
    object-position: 0px -124px;
}

.week-headlines-title {
    font-size: 0.8em;
}

.week-headlines-title:hover {
    cursor: pointer;
}

#aside-blog-archive select {
    width: 100%;
    padding: 0.3em 0em;
}

#aside-blog-archive p {
    margin: 0.3em 0em;
    font-size: 1em;
    font-weight: bold;
    color: #E07400;
    text-decoration: underline;
}

#aside-blog-archive p:hover {
    cursor: pointer;
}

.affiliates-image-box img {
    object-fit: cover;
    width: 100%;
    height: 75px;
}

.affiliates-image-box img:hover {
    cursor: pointer;
}

/*####### FOOTER #######*/

footer {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color: black;
}

.footer-logo h1 {
    margin: 0.5em 0em 0em 0em;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    line-height: 80%;
}

.footer-logo a {
    text-decoration: none;
    color: white;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ccc;
}

#footer-nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

#footer-nav li {
    display: inline-block;
}

#footer-nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

#footer-nav a:hover {
    text-decoration: underline;
}